#main-container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 100%;
    /* align-items: center;
    justify-: center; */
    margin-bottom: 50px;
}

#main-container h2 {
    font-family: 'DM Serif Display', serif;
    font-size: 40px;
    margin-bottom: 70px;
    text-align: center;
}

#main-container .article-product {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-bottom: 40px;
}

#main-container .article-product .img-container {
    display: flex;
    width: 50%;
    justify-content: center;
}

#main-container .article-product .description-container {
    display: flex;
    flex-direction: column;
    width: 50%;
    align-items: flex-start;
    margin-left: 20px;
}

#main-container .article-product .description-container h3 {
    font-family: 'DM Serif Display', serif;
}

#main-container .article-product .description-container p {
    font-family: 'Raleway', sans-serif;
    font-size: 20px;
}

#main-container .article-product .description-container button {
    font-family: 'Raleway', sans-serif;
    background-color: #fff;
    padding: 0px 5px;
    border: 1px solid #000;
    border-radius: 5px;
    transition: 300ms all;
}

#main-container .article-product .description-container button:hover {
    background-color: #E6CDE3;
    box-shadow: 2px 2px 3px #5e5d5d;
}

#main-container .article-product .img-container img {
    width: 450px;
}

#main-container #article-cuaderno {
    flex-direction: row-reverse;
}

/*! SECCIÓN DE MEDIA QUERYS */

@media (max-width: 768px) {
    
    #main-container .article-product {
        width: 80%;
        
    }

    #main-container .article-product .img-container img{
        width: 100%;
    }
}

@media (max-width: 699px) {

    #main-container .article-product {
        flex-direction: column-reverse;
    }

    #main-container .article-product .description-container {
        width: 100%;
        margin-left: 0px;
        align-items: center;
        margin-bottom: 10px;
    }

    #main-container .article-product .img-container {
        width: 80%;
        margin-bottom: 20px;
    }

    #main-container .article-product .description-container p {
        text-align: center;
    }
}

@media (max-width: 590px) {
    #main-container h2 {
        width: 90%;
        font-size: 35px;
        margin-bottom: 30px;
    }
}


